<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <h1>Opps! 404 page</h1>
        <p>page doesnt exists</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>